/* referenced this video for the form: https://www.youtube.com/watch?v=H63Pd_lXkeQ */
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Josefin+Sans:wght@400;600&display=swap');

body {
    background: #D9EAFD;
    text-align: center;
    margin: 0; 
    font-family: 'Jockey One', sans-serif;
}

.container {
    background-color: #D9EAFD;
    border-radius: 15px;
    padding: 30px 80px;
    transition: transform 0.2s;
    max-width: 1000px; 
    margin: auto; 
    box-sizing: border-box; 
    text-align: center;
    /* font-family: ; */
}

h1 {
    font-size: 55px;
    color: #32477c;
    text-align: center;

}

h2 {
    font-size: 35px;
    color: #32477c;
    text-align: center;

}

label {
    font-size: 25px;
    display: block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: left;
    color: #163D61;
    /* font-weight: bold; */
}

label span{
    font-weight: normal;
    font-family: 'Josefin Sans', sans-serif;  

}

input {
    display: block;
    /* width: 100%; */
    height: 50px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius:10px;
    font-size: 15px;

}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
select,
textarea {
    display: block;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 15px;
}

input[type="radio"],
input[type="checkbox"] {
    display: inline-block;
    width: 25px;
    vertical-align: middle;
}

label.inline-label {
    display: inline-block;
    font-size: 15px;
    color: #163D61;
    font-weight: normal;
    vertical-align: middle; 
    font-family: 'Jockey One', sans-serif;
  

}

.radio-text {
    font-family: 'Josefin Sans', sans-serif;  
    font-size: 18px;
    color: #163D61;
    
}

textarea {
    resize: none;
    min-height: 100px;
    max-height: 150px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif; 
    border-radius: 10px;
 

}

button {
    padding: 15px 15px;
    border-radius: 10px;
    margin: 20px auto;
    display:block;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #163D61;
    width: 100%;
    max-width: 1000px;
    font-size: 20px;
}

button:hover {
    background-color: orange;
}
/* used open ai to debug the styling and functionality of this page */