.card-option {
  background-color: #D9EAFD;
  border-radius: 20px;
  width: 100%;
  max-width: 550px;
  padding: 0px 20px;
  box-shadow: 0 12px 30px rgba(154, 166, 178, 0.15);
  border: solid;
  border-color:#A7C7EA;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  text-align: center;
  min-height: auto;
  text-decoration: none;
  flex: 1 1 300px;
  margin: auto;
}

.option-title-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.card-image {
  width: 160px;
  height: 160px;
  object-fit: contain;
  border-radius: 60%;
  border-top-right-radius: 0%;
  flex-shrink: 0;
}

.card-option h2 {
  font-family: 'Jockey One', sans-serif;
  color: #4A5B6A;
  font-size: clamp(2rem, 4vw, 3.5rem);
  margin-bottom: -20px;
  line-height: 1.2;
  text-align: center;
  margin-top: 10px;
}

.card-option p {
  color: #6C7A89;
  font-size: clamp(1rem, 2.2vw, 2rem);
  line-height: 1.4;
  margin: 0;
  text-align: left;
  max-width: 100%;
  flex: 1;
  word-break: break-word;
}

.card-option:hover {
  transform: translateY(-5px);
  box-shadow: 0 16px 36px rgba(154, 166, 178, 0.25);
  background-color: #ED8B08;
}

.card-option:hover h2 {
  color: white;
}

.card-option:hover p {
  color: white;
}
